
<div>
    <style media="all" type="text/css">

        html,body{
            font-size: 12px;
            font-family: "Arial";
        }
        table{
            border-spacing: 0;
        }
        .no-br,#tmp_org_address{
            font-size: 10px;
        }
        .no-br br {
            display: none;
        }
        .pcs-template {

            color: #000000;
            background: #FFFFFF;
        }

        .pcs-header-content {
            color: #000000;
            background-color: #ffffff;
        }
        .pcs-template-body {
            padding: 0rem;
        }
        .pcs-template-footer {
            height: 0.700000in;
            color: #000000;
            padding: 1rem;
            background-color: #ffffff;
        }
        .pcs-footer-content {
            word-wrap: break-word;
            color: #000000;

        }

        .pcs-label {
            color: #222;
            font-size: 13px;
        }

        #tmp_org_address{
            font-size: 10px;
        }
        .pcs-entity-title {
            color: #000000;
            white-space: nowrap;
        }
        .pcs-orgname {
            color: #000000;
            font-size: 16px;
        }
        .pcs-customer-name {

            color: #000000;
        }
        .pcs-itemtable-header {
            font-size: 11px;
            color: #000000;
        }
        .pcs-itemtable-breakword {
            word-wrap: break-word;
        }
        .pcs-taxtable-header {

            color: #000000;
            background-color: #f2f3f4;
        }
        .breakrow-inside {
            page-break-inside: avoid;
        }
        .breakrow-after {
            page-break-after:auto;
        }
        .pcs-item-row {

            border-bottom: none;
            background-color: #ffffff;
            color: #000000;
            white-space: nowrap;
        }
        .pcs-item-sku {
            margin-top: 2px;

            color: #444444;
        }
        .pcs-item-desc {
            color: #333333;

        }
        .pcs-balance {
            background-color: #ffffff;

            color: #000000;
        }
        .pcs-totals {

            color: #000000;
            background-color: #ffffff;
            padding: 5px;
        }
        .pcs-notes {
            font-size: 10px;
        }
        .pcs-terms {

        }
        .pcs-header-first {
            background-color: #ffffff;

            color: #000000;
            height: auto;
        }

        .pcs-status {


            padding: 3px 8px;
        }
        .billto-section {
            padding-top: 0mm;
            padding-left: 0mm;
        }
        .shipto-section {
            padding-top: 0mm;
            padding-left: 0mm;
        }



        .pcs-template-header {
            padding: 1rem;
            height: 0.700000in;
        }
        .pcs-itemtable-description {
            width: 40%
        }

        .pcs-template-fill-emptydiv {
            display: table-cell;
            content: " ";
            width: 100%;
        }


        /* Additional styles for RTL compat */

        /* Helper Classes */

        .inline {
            display: inline-block;
        }
        .v-top {
            vertical-align: top;
        }
        .text-align-right {
            text-align: right;
        }
        .rtl .text-align-right {
            text-align: left;
        }
        .text-align-left {
            text-align: left;
        }
        .rtl .text-align-left {
            text-align: right;
        }
        .float-section-right {
            float: right;
        }
        .rtl .float-section-right{
            float: left;
        }
        .float-section-left {
            float: left;
        }
        .rtl .float-section-left{
            float: right;
        }

        /* Helper Classes End */

        .item-details-inline {
            display: inline-block;
            margin: 0 10px;
            vertical-align: top;
            max-width: 70%;
        }

        .total-in-words-container {
            width: 100%;
            margin-top: 10px;
        }
        .total-in-words-label {
            vertical-align: top;
            padding: 0 10px;
        }
        .total-in-words-value {
            width: 170px;
        }
        .total-section-label {
            padding: 5px 10px 5px 0;
            vertical-align: middle;
        }
        .total-section-value {
            width: 120px;
            vertical-align: middle;
            padding: 10px 10px 10px 5px;
        }
        .rtl .total-section-value {
            padding: 10px 5px 10px 10px;
        }

        .tax-summary-description {
            color: #727272;

        }

        .bharatqr-bg {
            background-color: #f4f3f8;
        }

        /* Overrides/Patches for RTL compat */
        .rtl th {
            text-align: inherit; /* Specifically setting th as inherit for supporting RTL */
        }
        /* Overrides/Patches End */

        /* Signature styles */
        .sign-border {
            width: 200px;

        }
        .sign-label {
            display: table-cell;

            padding-right: 5px;
        }
        /* Signature styles End */

        /* Subject field styles */
        .subject-block {
            margin-top: 20px;
        }
        .subject-block-value {
            word-wrap: break-word;
            white-space: pre-wrap;
            line-height: 14pt;
            margin-top:5px;
        }
        /* Subject field styles End*/



        .pcs-template-bodysection {

        }
        .pcs-itemtable {

        }
        .pcs-addresstable {
            width: 100%;
            table-layout:fixed;
        }
        .pcs-addresstable > thead > tr > th {
            padding: 1px 5px;
            background-color: #f2f3f4;
            font-weight: normal;

        }
        .pcs-addresstable > tbody > tr > td {
            line-height: 15px;
            padding: 5px 5px 0px 5px;
            vertical-align:top;
            word-wrap: break-word;
        }

        .invoice-detailstable > tbody > tr > td {
            width: 50%;
            vertical-align: top;

        }

        .invoice-detailstable > tbody > tr > td > span{
            width: 45%;
            padding: 1px 5px;
            display: inline-block;
            vertical-align: top;
        }

        .pcs-itemtable-header {
            font-weight: normal;
            border-bottom: #222 solid 1px;
        }
        .pcs-itemtable-subheader {
            padding: 1px 5px;
            text-align: right;
        }
        .pcs-item-row {


        }
        .pcs-itemtable tr td.pcs-itemtable-subheader:last-child {

        }
        .pcs-itemtable tr td.pcs-itemtable-subrow:last-child {

        }
        .pcs-itemtable tr td:last-child, .pcs-itemtable tr th:last-child {
            border-right: none;
        }
        .pcs-itemtable tr td:first-child, .pcs-itemtable tr th:first-child {

        }
        .pcs-itemtable tbody > tr > td{
            padding:0 3px;
            word-wrap: break-word;
            border-right: #222 solid 1px;
            font-size: 10px;
        }
        .pcs-totaltable tbody > tr > td {
            text-align: right;

        }
        .pcs-footer-content {
            border-top: 0px;
        }
        #tmp_vat_summary_label {
            padding: 4px 4px 3px 7px;
        }
        .subject-block {
            margin-top: 0px;
            padding: 10px;

        }
        .pcs-taxtable-header {

        }
        .d-flex{
            display: flex;
        }
        .mr-3{
            margin-right: 1rem;
        }
        .badge-Paid{
            color: green;
        }
        .badge-Unpaid{
            color: red;
        }



        .page-header{


        }

        .page-footer {

        }



        @media print {


            body{
                font-family: "Arial Narrow";
            }

            @page :left {
                margin-left: 1.3cm;
                margin-right: 0.5cm;
                margin-top: 0.5cm;
                margin-bottom: 0.5cm;
            }

            @page :right {
                margin-left: 1.3cm;
                margin-right: 0.5cm;
                margin-top: 0.5cm;
                margin-bottom: 0.5cm;
            }


            .page-header-space,.page-footer-space{

            }
            .pageborder {
                position:fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border: 1px solid black;
            }

            .page-header-space{
                height: 135px;
            }
            .page-header {
                position: fixed;
                top: 2px;
                left: 2px;
                right: 2px;
                background: white;
                z-index: 999;

            }


            .page-footer-space{
                height: 70px;

            }
            .page-footer {
                position: fixed;
                bottom: 5px;
                left: 2px;
                right:2px;
                background: white;
                z-index: 999;
                padding: 5px;
                border-top: #222 solid 1px;

            }



            .page {
                page-break-after: always;

            }
            thead {display: table-header-group;}
            tfoot {display: table-footer-group;}


        }

    </style>



    <div class="pcs-template">

        <div class="pcs-template-body">
            <div class="pcs-template-bodysection">

                <div class="page-header">
                    <div>
                        <table style="width: 100%;border: none">
                            <tbody>
                            <tr>

                                <td style="padding: 2px;vertical-align: middle;">
                                    <div>
                                        <span style="font-weight: bold;" class="pcs-orgname">Mom's Frozen Food<br></span>
                                        <span   id="tmp_org_address">
                               <span class="no-br"> {{address}}
                                {{state}}
                                {{country}}  </span> <br/>
                                {{taxnumber}}
                          </span>
                                    </div>
                                </td>
                                <td style="padding: 2px;vertical-align: middle;" align="right">


                                    <table style="margin-left: auto">
                                        <tr>
                                            <td><span class="pcs-label">Invoice No</span></td>
                                            <td><span style="font-weight: 600;"  >: {{vouchernumber}} </span> <span   class="badge badge-{{voucherstatus}}"><b>{{voucherstatus}}</b></span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="pcs-label">Invoice Date</span></td>
                                            <td><span style="font-weight: 600;"  >: {{voucherdate}} {{vouchertime}}</span></td>
                                        </tr>


                                        {{#voucherorder}}
                                        <tr>
                                            <td><span class="pcs-label">P.O.#</span></td>
                                            <td><span style="font-weight: 600;" >: {{voucherorder}}</span></td>
                                        </tr>
                                        {{/voucherorder}}
                                    </table>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div style="width: 100%;">
                            <table cellspacing="0" cellpadding="0"   style="width: 100%;table-layout: fixed;word-wrap: break-word;border-bottom: #ccc solid 1px;border-top: #ccc solid 1px" class="invoice-detailstable">

                                <tbody>
                                <tr>

                                    <td style="padding: 4px;border-right: #ccc solid 1px;">

                                        <div>
                                           <div><strong><span class="pcs-customer-name">BILL TO</span></strong></div>
                                            <span style="white-space: pre-wrap;line-height: 15px;" id="tmp_billing_address" ><strong><span class="pcs-customer-name" id="zb-pdf-customer-detail">{{billtoname}}</span></strong>

{{#billtotax}} GSTIN : {{billtotax}} {{/billtotax}}</span>
                                            <div>Mobile : {{billtophone}} </div>
                                        </div>



                                    </td>

                                    <td style="padding: 4px;">

                                        <div>
                                            <div><strong><span class="pcs-customer-name">SHIP TO</span></strong></div>
                                            <span style="white-space: pre-wrap;line-height: 15px;" id="tmp_billing_address" ><strong><span class="pcs-customer-name" id="zb-pdf-customer-detail">{{billtoname}}</span></strong>
<span  class="no-br">{{billtoaddress}} </span></span>

                                        </div>


                                    </td>




                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <table style="width: 100%">
                    <thead><tr><td>
                        <div class="page-header-space"></div>
                    </td></tr></thead>
                    <tbody><tr><td>
                        <div class="page">
                            <table style="width: 100%;clear: both;" class="pcs-itemtable"   cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                <tr style="height:17px;">
                                    <td style="padding: 5px 5px 2px 5px;text-align: center;" valign="bottom" rowspan="2" class="pcs-itemtable-header pcs-itemtable-breakword">
                                        <b>#</b>
                                    </td>
                                    <td style="padding: 5px 7px 2px 7px;text-align: left;width:100%" valign="bottom" rowspan="2" class="pcs-itemtable-header pcs-itemtable-breakword">
                                        <b>Items</b>
                                    </td>
                                    <td style="padding: 5px 7px 2px 7px;text-align: left;" valign="bottom" rowspan="2" class="pcs-itemtable-header pcs-itemtable-breakword">
                                        <b>HSN/SAC</b>
                                    </td>
                                    <td style="padding: 5px 7px 2px 7px;text-align: right;" valign="bottom" rowspan="2" class="pcs-itemtable-header pcs-itemtable-breakword">
                                        <b>Qty</b>
                                    </td>
                                    <td style="padding: 5px 7px 2px 7px;text-align: right;" valign="bottom" rowspan="2" class="pcs-itemtable-header pcs-itemtable-breakword">
                                        <b>MRP</b>
                                    </td>
                                    <td style="padding: 5px 7px 2px 7px;text-align: right;" valign="bottom" rowspan="2" class="pcs-itemtable-header pcs-itemtable-breakword">
                                        <b>Rate</b>
                                    </td>

                                    <td style="padding: 5px 7px 2px 7px;text-align: right;" valign="bottom" rowspan="2" class="pcs-itemtable-header pcs-itemtable-breakword">
                                        <b>GST%</b>
                                    </td>

                                    <td style="padding: 5px 7px 2px 7px;text-align: right;" valign="bottom" rowspan="2" class="pcs-itemtable-header pcs-itemtable-breakword">
                                        <b>Net Amount</b>
                                    </td>
                                </tr>


                                </thead>
                                <tbody class="itemBody">
                                {{#voucheritems}}
                                <tr class="breakrow-inside breakrow-after" style="height:20px;">
                                    <td rowspan="1"   style="text-align: center;" class="pcs-item-row">
                                        {{voucheritemid}}
                                    </td>
                                    <td rowspan="1"   class="pcs-item-row" style="white-space: normal">
                                        {{voucheritemname}}
                                        <div  class="pcs-item-desc" id="tmp_item_description">{{voucheritemdescription}}</div>
                                    </td>
                                    <td rowspan="1"   class="pcs-item-row">
                                        {{voucheritemhsn}}
                                    </td>
                                    <td rowspan="1"   style="text-align: right;" class="pcs-item-row">
                                        {{voucheritemqty}}
                                        <span>{{voucheritemunit}}</span>
                                    </td>

                                    <td rowspan="1"   style="text-align: right;" class="pcs-item-row" id="tmp_item_rate">
                                        {{vouchertaxable}}
                                    </td>

                                    <td rowspan="1"   style="text-align: right;" class="pcs-item-row" id="tmp_item_rate2">
                                        {{vouchertaxabletotal}}
                                    </td>


                                    <td rowspan="1"   style="text-align:right;" class="pcs-item-row">
                                        {{totaltaxper}}
                                    </td>


                                    <td rowspan="1"   style="text-align: right;" class="pcs-item-row" id="tmp_item_amount">
                                        {{voucheritemamount}}
                                    </td>
                                </tr>
                                {{/voucheritems}}

                                <tr>
                                    <td style="border-top:#222 solid 1px">  </td>
                                    <td style="border-top:#222 solid 1px"> </td>
                                    <td style="border-top:#222 solid 1px"> </td>
                                    <td style="padding: 5px 7px 2px 7px;text-align: right;border-top: #222 solid 1px" valign="bottom" rowspan="2" class="pcs-itemtable-header pcs-itemtable-breakword">
                                        <b>{{vouchertotalqnt}}</b>
                                    </td>
                                    <td style="border-top:#222 solid 1px"> </td>
                                    <td style="border-top:#222 solid 1px"> </td>

                                    <td style="border-top:#222 solid 1px"> </td>
                                    <td style="border-top:#222 solid 1px"> </td>
                                </tr>

                                </tbody>
                            </table>


                            <div style="border-bottom: #ccc solid 1px;border-top:solid 1px #222">
                                <div>
                                    <div>
                                        <div style="width: 100%;">

                                            <table style="width: 100%">
                                                <tr>
                                                    <td style="border-left: 1px solid #ccc;vertical-align:top">
                                                        <div style="padding: 5px">


                                                            <div>
                                                                {{#vouchertax}}
                                                                {{#taxamount}}
                                                                <div style="font-size: 11px">
                                                                    <div>Sale @ {{taxable}} ({{taxname}}) = {{taxamount}} </div>
                                                                </div>
                                                                {{/taxamount}}
                                                                {{/vouchertax}}
                                                            </div>



                                                            <div style="margin-top: 10px">
                                                                <div style="padding-right: 10px;">Total In Words</div>
                                                                <span><b><i>{{vouchertotalinwords}}</i></b></span>
                                                            </div>

                                                            <div style="margin-top: 10px;white-space: pre-wrap;word-wrap: break-word;" class="pcs-terms">{{vouchertoc}}</div>

                                                        </div>
                                                    </td>
                                                    <td style="border-left: 1px solid #ccc;vertical-align:top">
                                                        <div style="padding: 5px;text-align: center">
                                                        <div>
                                                            <div><strong>San QR Code to pay</strong></div>
                                                        </div>
                                                        <div style="margin-top: 10px">
                                                            <img style="width:80px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhAQMAAAAEfUA5AAAABlBMVEX///8AAABVwtN+AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABpElEQVRYhd2YQa7DIAxEHWWRJUfgKDlacrQehSOwZBFl6rGh+VL1u8eWGqm8lY0ZD4j8jAOMS9YmkqqkIhmv3RYxKWVay7WibUBNKLmI7CdXg1LgXrQaQNNypKLFUKpFCk1ZjZZQJZccg4psbavM1/o5MvV+vjbb3qr/9tdXtweirlekXo1c9i81m4r+CaWo/wyXMJTVuBfmTglGNQF+HefB7Q1I9aPY9FdDJ04/v6ed32mpeQaboTWDCQMnPvmGoqpIuDlBez1YDC6f3s/hKMvxtLNG0Xa25VGs2egB5ititq8y3SciUi2GClKfOHp+2c5iQtW3Nxh1pV0vcVNvp9f0yvU5HuXuL59bm2SrBuG0VH+LThy6PsbTz8MTRqPDMogJlt9Doba+93M4KreVQVgO3rvBd4bzkHlpnzgjytjhmLTH+vRz4YSlZ0BEeljmfGcQv4dmuAf23Z+R8uMK3O9lZvt4QBGT+kvRZXrExz56err66LSPWMmjnWen3Gd/STAXhOGRwlHx1+l+gO2lyExuUNr1Sm1uS7S5PmCle4Zw9Ge8AbsX+i+RybroAAAAAElFTkSuQmCC" />
                                                        </div>
                                                            <div> UPI ID : govindrajpurohit685-2@oksbi</div>

                                                        </div>
                                                    </td>


                                                    <td style="border-left: 1px solid #ccc;vertical-align:top">

                                                        <div  style="padding: 5px"  class="pcs-totals">
                                                            <table  class="pcs-totaltable" id="itemTable" cellspacing="0" border="0" width="100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td valign="middle">Sub Total</td>
                                                                    <td id="tmp_subtotal" valign="middle" style="width:110px;">{{vouchersubtotal}}</td>
                                                                </tr>


                                                                <tr>
                                                                    <td valign="middle">Discount</td>
                                                                    <td valign="middle" style="width:110px;">{{vouchertotaldiscount}} </td>
                                                                </tr>



                                                                <tr>
                                                                    <td valign="middle">Roundoff</td>
                                                                    <td valign="middle" style="width:110px;">{{voucherroundoff}} </td>
                                                                </tr>

                                                                <tr>
                                                                    <td valign="middle"><b>Total</b></td>
                                                                    <td id="tmp_total" valign="middle" style="width:110px;"><b>{{vouchertotal}} </b></td>
                                                                </tr>


                                                                <tr style="height:10px;">
                                                                    <td valign="middle">Payment Made</td>

                                                                    <td valign="middle" style="width:110px;color: red;">(-) {{paymentmade}} </td>
                                                                </tr>

                                                                <tr style="height:10px;" class="pcs-balance">
                                                                    <td valign="middle"><b>Balance Due</b></td>
                                                                    <td id="tmp_balance_due" valign="middle" style="width:110px;;"><strong>{{balancedue}}</strong></td>
                                                                </tr>

                                                                </tbody>


                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>




                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </td></tr></tbody>
                    <tfoot><tr><td>
                        <div class="page-footer-space"></div>
                    </td></tr></tfoot>
                </table>




                <div class="page-footer">
                    <div>
                        <div>
                            <div style="width: 100%;">

                                <div>
                                    <table class="pcs-totaltable" id="itemTable" cellspacing="0" border="0" width="100%">

                                        <tbody>

                                        <tr>
                                            <td style="text-align: left" >
                                                <div style="white-space: pre-wrap;word-wrap: break-word;" class="pcs-notes">{{customernotes}}</div>
                                            </td>
                                            <td style="text-align: right;">
                                                <div>For Mom's Frozen Food</div>
                                                <br/>
                                                <label style="margin-bottom: 0px;"><small>Authorized Signature</small></label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>



    </div>
    <div class="pageborder"></div>
</div>

